<head>
    <title>wow</title>
    <style>
        .yu {
            width: 50%;
            height: 25%;
            padding: 50% 50%;
        }
    </style>
    <script>
        function op(){
            const a = document.getElementById("io")
            window.location.replace(location.href+"/"+a.value)
        }
    </script>
</head>
<body>
    <div class="yu">
        <button onclick="op()">cliccami!!</button>
    
        <select id="io">
            <option>doritos</option>
            <option>maink</option>
            <option>random</option>
        </section>
    </div>
</body>